@tailwind base;
@tailwind components;

@layer base {
  :root {
    --primary: theme("colors.light.primary.600");
    --primary-dark: theme("colors.light.primary.700");
    --primary-light: theme("colors.light.primary.300");

    --secondary: theme("colors.light.secondary.500");
    --secondary-dark: theme("colors.light.secondary.600");
    --secondary-light: theme("colors.light.secondary.400");

    --accent: theme("colors.light.accent.500");
    --accent-dark: theme("colors.light.accent.600");
    --accent-light: theme("colors.light.accent.400");

    --danger: theme("colors.light.danger.500");
    --danger-dark: theme("colors.light.danger.600");
    --danger-light: theme("colors.light.danger.400");

    --background: theme("colors.light.background.100");
    --background-alt: theme("colors.light.background.300");
    --background-dark: theme("colors.light.background.300");

    --text-primary: theme("colors.light.text.primary.500");
    --text-primary-light: theme("colors.light.text.primary.300");
    --text-secondary: theme("colors.light.text.secondary.400");

    --surface: theme("colors.light.background.200");
    --border: theme("colors.light.background.300");
  }

  .dark {
    --primary: theme("colors.dark.primary.500");
    --primary-dark: theme("colors.dark.primary.600");
    --primary-light: theme("colors.dark.primary.400");

    --secondary: theme("colors.dark.secondary.500");
    --secondary-dark: theme("colors.dark.secondary.600");
    --secondary-light: theme("colors.dark.secondary.400");

    --accent: theme("colors.dark.accent.500");
    --accent-dark: theme("colors.dark.accent.600");
    --accent-light: theme("colors.dark.accent.400");

    --danger: theme("colors.dark.danger.500");
    --danger-dark: theme("colors.dark.danger.600");
    --danger-light: theme("colors.dark.danger.400");

    --background: theme("colors.dark.background.200");
    --background-alt: theme("colors.dark.background.100");
    --background-dark: theme("colors.dark.background.200");

    --text-primary: theme("colors.dark.text.primary.100");
    --text-primary-light: theme("colors.dark.text.primary.300");
    --text-secondary: theme("colors.dark.text.secondary.200");

    --surface: theme("colors.dark.background.100");
    --border: theme("colors.dark.background.50");
  }

  html {
    @apply scroll-smooth;
  }

  body {
    @apply font-sans text-base;
    background-color: var(--background);
    color: var(--text-primary);
    transition:
      background-color 0.3s ease,
      color 0.3s ease;
  }

  /* Custom Scrollbar Styles */
  ::-webkit-scrollbar {
    @apply w-2;
  }

  ::-webkit-scrollbar-track {
    background-color: var(--background);
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--border);
    @apply rounded-full;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: var(--text-secondary);
  }

  /* Firefox Scrollbar Styles */
  * {
    scrollbar-width: thin;
    scrollbar-color: var(--border) var(--background);
  }
}

@layer components {
  .btn-primary {
    @apply w-auto py-2 px-4 rounded disabled:opacity-50 disabled:cursor-not-allowed;
    background-color: var(--primary);
    color: var(--text-primary);

    :root & {
      color: theme("colors.dark.text.primary.100");
    }

    &:md:hover {
      background-color: var(--primary-dark);
    }

    /*     &:focus {
      @apply ring-2 ring-offset-2;
      --tw-ring-color: var(--primary);
    } */

    @apply md:w-auto md:py-2 md:px-6;
  }

  .btn-secondary {
    @apply w-auto py-2 px-4 rounded disabled:opacity-50 disabled:cursor-not-allowed;
    background-color: var(--secondary-light);
    color: var(--text-primary);

    :root & {
      color: theme("colors.dark.text.primary.100");
    }

    &:md:hover {
      background-color: var(--secondary);
    }

    /*     &:focus {
      @apply ring-2 ring-offset-2;
      --tw-ring-color: var(--secondary);
    } */

    @apply md:w-auto md:py-2 md:px-6;
  }

  .btn-tertiary {
    @apply w-auto py-2 px-4 rounded disabled:opacity-50 disabled:cursor-not-allowed;
    background-color: transparent;
    color: var(--text-primary);
    border: 1px solid var(--border);

    &:md:hover {
      background-color: var(--background-alt);
      border-color: var(--primary-light);
    }

    /*     &:focus {
      @apply ring-2 ring-offset-2;
      --tw-ring-color: var(--border);
    } */

    @apply md:w-auto md:py-2 md:px-6;
  }

  .btn-danger {
    @apply w-auto py-2 px-4 rounded disabled:opacity-50 disabled:cursor-not-allowed;
    background-color: transparent;
    color: var(--danger);
    border: 1px solid var(--danger);

    &:hover {
      background-color: var(--danger);
      color: white;
    }

    &:focus {
      @apply ring-2 ring-offset-2;
      --tw-ring-color: var(--danger);
    }

    @apply md:w-auto md:py-2 md:px-6;
  }

  .input-field {
    @apply w-full p-2 rounded;
    background-color: var(--background);
    color: var(--text-secondary);
    border: 1px solid var(--border);

    &:focus {
      @apply ring-2 outline-none;
      --tw-ring-color: var(--primary-light);
      border-color: var(--primary-light);
    }
  }

  .border-error {
    border-color: var(--danger);
    @apply ring-1;
    --tw-ring-color: var(--danger);
  }

  .form-card {
    @apply w-full p-4 rounded-lg mx-auto shadow-md;
    background-color: var(--surface);
    @apply sm:max-w-md sm:p-6;
  }

  .card {
    @apply w-full p-4 rounded-lg shadow-md;
    background-color: var(--surface);
    @apply sm:max-w-lg;
  }

  .error-text {
    @apply text-sm mt-2;
    color: var(--danger);
  }

  .heading {
    @apply text-xl font-bold md:text-2xl;
    color: var(--text-primary);
  }

  .nav-item {
    @apply flex items-center justify-center p-2 w-12 h-12 rounded-full transition-all duration-200;
  }

  .nav-label {
    @apply absolute text-sm px-2 py-1 rounded opacity-0 transition-opacity duration-200;
    background-color: var(--text-primary);
    color: var(--surface);
  }

  .toggle-container {
    @apply relative inline-flex rounded-full p-1 w-64 shadow-sm;
    background-color: var(--background-alt);
  }

  .toggle-slider {
    @apply absolute top-1 bottom-1 rounded-full transition-transform duration-300 ease-in-out;
    background-color: var(--primary);
    width: calc(50% - 4px);
    left: 4px;
  }

  .toggle-slider.right {
    transform: translateX(calc(100% + 8px));
  }

  .toggle-button {
    @apply relative z-10 w-1/2 py-2 text-sm font-medium transition-colors duration-300;
    &.active {
      color: var(--text-primary);
    }
    &.inactive {
      color: var(--text-secondary);
    }
  }
}

@tailwind utilities;
